In [1]:
import pandas as pd
import sqlalchemy as sal

In [2]:


netflix = pd.read_csv("netflix_titles.csv")
# netflix

## from sqlalchemy import create_engine

# Connect to the database
* engine = create_engine("mysql+mysqlconnector://user:password@host/database")

# Test the connection
connection = engine.connect()

In [36]:
engine = sal.create_engine('mssql://DESKTOP\SQLEXPRESS/netflix?driver=ODBC+DRIVER+17+fOR+SQL+SERVER')
# connection = engine.connect()

In [37]:
# from sqlalchemy import create_engine

# # Define connection parameters
# username = "root"
# password = "########"
# host = "localhost"  # Or use the IP address of your server
# port = "3303"       # Default MySQL port
# database = "practice"

# # Create connection string
# engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

In [38]:
print(type(engine))  # Debugging to check what `engine` is

<class 'sqlalchemy.engine.base.Engine'>

In [39]:
conn = engine.connect()
conn

In [40]:
# netflix.to_sql('netflix', con = conn, index=False, if_exists = 'replace')
netflix.to_sql('netflix', con = conn, index=False, if_exists = 'append')
conn.close()

In [41]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [3]:
netflix.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [4]:
netflix.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [5]:
netflix[netflix.show_id == 's5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [6]:
netflix.show_id.str.len()

0       2
1       2
2       2
3       2
4       2
       ..
8802    5
8803    5
8804    5
8805    5
8806    5
Name: show_id, Length: 8807, dtype: int64

In [7]:
#length of the maximum title str
max(netflix.show_id.str.len())

5

In [8]:
max(netflix.type.str.len())

7

In [9]:
max(netflix.cast.str.len())

nan

In [10]:
# will drtop na if there is na value in column it takes max length of string
max(netflix.cast.dropna().str.len())

771

In [11]:
max(netflix.director.dropna().str.len())

208

In [12]:
max(netflix.country.dropna().str.len())

123

In [13]:
max(netflix.description.str.len())

248

In [14]:
max(netflix.date_added.dropna().str.len())

19

In [15]:
max(netflix.listed_in.dropna().str.len())

79

In [16]:
max(netflix.rating.dropna().str.len())

8

In [17]:
max(netflix.duration.dropna().str.len())

10

# Missing values

In [18]:
netflix.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64